.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 calc(8 / 1280 * 100vw);
  box-sizing: border-box;
  outline: none;
  font-size: calc(14 / 1280 * 100vw);
  line-height: 1.2;
  color: #000;
}

@media screen and (max-width: 767px) {

  .popup__input {
    font-size: 12px;
    padding-bottom: 12px;
  }

  .popup__input:first-of-type {
    margin-bottom: 20px;
  }

  .popup__input:last-of-type {
    margin-bottom: 36px;
  }

}

