.profile__title {
  max-width: calc(295 / 336 * 100%);
  font-weight: 500;
  font-size: calc(42 / 1280 * 100vw);
  line-height: 1.33;
  color: #fff;
  margin: 0;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {

  .profile__title {
    max-width: calc(200 / 282 * 100%);
    font-size: calc(27 / 320 * 100vw);
    line-height: 2.07;
    text-align: center;
  }

}
