.popup__close-button {
  width: calc(41 / 1280 * 100vw);
  height: calc(41 / 1280 * 100vw);
  transform: rotate(45deg);
  position: absolute;
  top: calc(37 / 1280 * 100vw * -1);
  right: calc(37 / 1280 * 100vw * -1);
  padding: 0;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.popup__close-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {

  .popup__close-button {
    width: 25px;
    height: 25px;
    top: -22px;
    right: -22px;
  }

}

@media screen and (max-width: 399px) {

  .popup__close-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #000;
    top: 5px;
    right: 5px;
    box-sizing: content-box;
  }

}
