.popup__close-icon {
  width: calc(41 / 1280 * 100vw);
  height: calc(41 / 1280 * 100vw);
}

@media screen and (max-width: 767px) {

  .popup__close-icon {
    width: 25px;
    height: 25px;
  }

}

@media screen and (max-width: 399px) {

  .popup__close-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
  }

}
