.popup__save-button {
  width: 100%;
  height: calc(50 / (330 - 36 * 2) * 100%);
  padding: 0;
  border-radius: 2px;
  background-color: #000;
  font-size: calc(18 / 1280 * 100vw);
  line-height: 1.2;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.popup__save-button:not(:hover) {
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.2s ease-in-out;
}

@media screen and (min-width: 1281px) {

  .popup__save-button {
    height: 50px;
    font-size: 18px;
  }

}

@media screen and (max-width: 767px) {

  .popup__save-button {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

}

@media screen and (max-width: 399px) {

  .popup__save-button {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

}
