.add-button__icon {
  width: calc(22 / 1280 * 100vw);
  height: calc(22 / 1280 * 100vw);
}

@media screen and (max-width: 767px) {

  .add-button__icon {
    width: calc(16 / 320 * 100vw);
    height: calc(16 / 320 * 100vw);
    overflow: visible;
  }

}
